* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}button{
  cursor: pointer;
}

.btn {
  height: 8rem;
  width: 8rem;
  font-size: 2rem;
  cursor: pointer;
}
.Wraper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.btn_wraper {
  width: 100%;
  display: flex;
  align-items: center;
}
.github img {
  align-self: left;
  height: 2.2rem;
}
.reset {
  margin-left: auto;
  cursor: pointer;
}
.reset img {
  height: 2.2rem;
}
.reset,
.Bot {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.Bot img {
  height: 3rem;
}

@media (max-width: 600px) {
  .btn {
    height: 7rem;
    width: 7rem;
  }
  .Bot img {
    height: 2.1rem;
  }
  .reset img, .github img {
    height: 1.5rem;
  }
}
